{"openapi":"3.0.3","info":{"title":"DaVinci","version":"1.0","description":"API to programatically access institute (user / auth / courses / enrollment).","termsOfService":"https://www.davincirenaissance.org/terms","license":{"name":"MIT License","url":"https://opensource.org/licenses/MIT","x-last-modified":1707465748308},"x-logo":{"url":""}},"servers":[{"url":"https://beta.davincirenaissance.org/api","description":"","x-last-modified":1707465189054}],"paths":{"/users/{userId}":{"description":"Access a single user with its unique key.","get":{"tags":[],"description":"Access user by key.","parameters":[{"$ref":"#/components/parameters/userId","name":"userId","x-last-modified":1707544210018}],"responses":{"usersResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707544571693},"usersResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707544819615}},"operationId":"readUser"},"put":{"tags":[],"description":"Modify user by key.","parameters":[{"$ref":"#/components/parameters/userId","name":"userId","x-last-modified":1707544267415}],"responses":{"usersResponse403":{"$ref":"#/components/responses/403","x-last-modified":1707544525768},"usersResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707544600898},"usersResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707544777150}},"operationId":"updateUser"},"delete":{"tags":[],"description":"Remove user by key.","parameters":[{"$ref":"#/components/parameters/userId","name":"userId","x-last-modified":1707544291863}],"responses":{"usersResponse403":{"$ref":"#/components/responses/403","x-last-modified":1707544474372},"usersResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707544619513},"usersResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707544747687}},"operationId":"deleteUser"},"x-last-modified":1707465567190},"/users/all":{"description":"Access the users collection.","get":{"tags":[],"description":"Get all users.","responses":{"usersResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707544924505},"usersResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707544945168}},"operationId":"listUsers"},"x-last-modified":1707465656033},"/auth/login":{"description":"Sign in with credentials.","post":{"tags":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/loginRequest"}}}},"responses":{"loginRespose400":{"$ref":"#/components/responses/400","x-last-modified":1707543352075},"loginResponse500":{"$ref":"#/components/responses/500","x-last-modified":1707543400075},"loginResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707543418085}},"description":"Sign in with credentials.","operationId":"login"},"x-last-modified":1707466059948},"/auth/register":{"description":"Registration for new sign up.","post":{"tags":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/registerRequest"}}}},"description":"Register a new user.","responses":{"registerResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707543076027},"registerResponse500":{"$ref":"#/components/responses/500","x-last-modified":1707543151654},"registerResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707543193696}},"operationId":"register"},"x-last-modified":1707466173704},"/courses/published":{"description":"Get a list of all published courses.","get":{"tags":[],"operationId":"listPublished","description":"Get a list of all published courses.","responses":{"courseResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707551926541},"courseResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707551941316}}},"x-last-modified":1707466311122},"/courses/{courseId}/view":{"description":"Get a course referenced by its courseId.","get":{"tags":[],"operationId":"readCourse","description":"Get a course referenced by its courseId.","parameters":[{"$ref":"#/components/parameters/courseId","name":"courseId","x-last-modified":1707549886849}],"responses":{"courseResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707552033113}}},"x-last-modified":1707466362083},"/courses/{userId}/add":{"description":"Access an instructor with list of list all courses of Instructor create a new course referenced by the Instructor's.","post":{"tags":[],"description":"Access an instructor with list of list all courses of Instructor create a new course referenced by the Instructor's.","operationId":"createCourse","parameters":[{"$ref":"#/components/parameters/userId","name":"userId","x-last-modified":1707550162837}],"responses":{"courseResponse403":{"$ref":"#/components/responses/403","x-last-modified":1707551607801},"courseResponse401":{"$ref":"#/components/responses/401","x-last-modified":1707551625403},"courseResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707551644165},"courseResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707551661935}},"requestBody":{"required":false}},"x-last-modified":1707466448284},"/courses/{userId}/list":{"description":"Access a list of courses by instructor.","get":{"tags":[],"description":"Access a list of courses by instructor.","operationId":"listByInstructor","parameters":[{"$ref":"#/components/parameters/userId","name":"userId","x-last-modified":1707550302740}],"responses":{"courseResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707551872893},"courseResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707551890127}}},"x-last-modified":1707466557643},"/courses/{userId}/{courseId}/lesson/add":{"description":"Add new lessons to a course.","put":{"tags":[],"description":"Add new lessons to a course.","operationId":"addNewLesson","parameters":[{"$ref":"#/components/parameters/userId","name":"userId","x-last-modified":1707550409230},{"$ref":"#/components/parameters/courseId","name":"courseId","x-last-modified":1707550423326}],"responses":{"courseResponse403":{"$ref":"#/components/responses/403","x-last-modified":1707551726923},"courseResponse401":{"$ref":"#/components/responses/401","x-last-modified":1707551744321},"courseResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707551761288},"courseResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707551783432}}},"x-last-modified":1707466647880},"/courses/{userId}/{courseId}/edit":{"description":"Access and edit a course.","put":{"tags":[],"operationId":"updateCourse","description":"Access and edit a course.","parameters":[{"$ref":"#/components/parameters/userId","name":"userId","x-last-modified":1707550860623},{"$ref":"#/components/parameters/courseId","name":"courseId","x-last-modified":1707550875967}],"responses":{"courseResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707551454096},"courseResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707551470788},"courseResponse403":{"$ref":"#/components/responses/403","x-last-modified":1707551532658},"courseResponse401":{"$ref":"#/components/responses/401","x-last-modified":1707551553477}}},"delete":{"tags":[],"operationId":"deleteCourse","description":"Access and remove a course.","parameters":[{"$ref":"#/components/parameters/userId","name":"userId","x-last-modified":1707550924923},{"$ref":"#/components/parameters/courseId","name":"courseId","x-last-modified":1707550938248}],"responses":{"courseResponse401":{"$ref":"#/components/responses/401","x-last-modified":1707551155355},"courseResponse403":{"$ref":"#/components/responses/403","x-last-modified":1707551175488},"courseResponse400":{"$ref":"#/components/responses/400","x-last-modified":1707551294112},"courseResponse200":{"$ref":"#/components/responses/200","x-last-modified":1707551314632}}},"x-last-modified":1707466720601},"/enrollment/enrolled":{"description":"get list of enrolled courses; requires user to be logged in.","get":{"tags":[]},"x-last-modified":1707466854631},"/enrollment/new/{courseId}":{"description":"enroll in a course; requires user to be logged in.","post":{"tags":[]},"x-last-modified":1707466906034},"/enrollment/stats/{courseId}":{"description":"generate enrollment statistics.","get":{"tags":[]},"x-last-modified":1707466955040},"/enrollment/complete/{enrollmentId}":{"description":"update lessons to complete.","put":{"tags":[]},"x-last-modified":1707466999106},"/enrollment/{enrollmentId}":{"description":"Get enrollment status or withdraw from course if needed.","get":{"tags":[]},"delete":{"tags":[]},"x-last-modified":1707467046835}},"components":{"securitySchemes":{"JWTAuth":{"scheme":"bearer","bearerFormat":"JWT","type":"http","description":"Example: \n> Authorization: Bearer <token>","x-last-modified":1707467078690}},"schemas":{"loginRequest":{"type":"object","example":{"email":"info@davincirenaissance.org","password":"password-to-signin"},"properties":{"email":{"type":"string","example":["info@davincirenaissance.org"]},"password":{"type":"string","example":["password-to-signin"]}},"x-last-modified":1707536669129},"registerRequest":{"type":"object","example":{"name":{"first":"Hypatia","last":"Alexandria"},"email":"example@davincirenaissance.org","password":"password-to-register","role":"Instructor"},"properties":{"name":{"type":"object","properties":{"first":{"type":"string","example":["Hypatia"]},"last":{"type":"string","example":["Alexandria"]}}},"email":{"type":"string","example":["example@davincirenaissance.org"]},"password":{"type":"string","example":["password-to-register"]},"role":{"type":"string","example":["Instructor"]}},"x-last-modified":1707542317076},"IllegalInputError":{"type":"object","required":["message","code"],"properties":{"message":{"type":"string"},"code":{"type":"integer","minimum":400,"maximum":400}},"x-last-modified":1707542764589},"ServerError":{"type":"object","required":["message","code"],"properties":{"message":{"type":"string"},"code":{"type":"integer","minimum":500,"maximum":599}},"x-last-modified":1707542767063},"UnauthorizedError":{"type":"object","required":["message","code"],"properties":{"message":{"type":"string"},"code":{"type":"integer","minimum":401,"maximum":401}},"x-last-modified":1707544403597}},"headers":{},"responses":{"200":{"description":"Operation succeeded","x-last-modified":1707542945358},"400":{"description":"Illegal input for operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IllegalInputError"}}},"x-last-modified":1707542764595},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}},"x-last-modified":1707544403602},"403":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedError"}}},"x-last-modified":1707544403602},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerError"}}},"x-last-modified":1707542767069}},"parameters":{"userId":{"in":"path","name":"userid","example":"GET /api/users/5c2e12a0-3391-4a4a-b82e-1f7de848c7aa","description":"**userID**. \n The unique key of a user record. \n The key is internal and not intended to be input by manual entry.","schema":{"type":"string","format":"uuid"},"x-last-modified":1707544080874,"required":true,"deprecated":false},"courseId":{"in":"path","name":"courseid","example":"GET /api/courses/5c2e12a0-3391-4a4a-b82e-1f7de848c7aa","description":"**courseID**. \n The unique key of a course record. \n The key is internal and not intended to be input by manual entry.","schema":{"type":"string","format":"uuid"},"x-last-modified":1707549859007,"required":true,"deprecated":false}}},"tags":[],"security":[]}